<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <googletagmanager2>
            <settings>
                <enabled>0</enabled>
                <config/>
                <debug>0</debug>
            </settings>
        </googletagmanager2>
        <GTM>
            <price_visibility>
                <enabled>0</enabled>
                <customer_groups>0</customer_groups>
                <mode>remove</mode>
            </price_visibility>
        </GTM>
    </default>
</config>
